@inherits CraftComponent

@if (Visible)
{
    <button id="@Id" @ref="@ElementRef" class="@ClassName" style="@Style" @attributes="UserAttributes"
            disabled="@IsDisabled" @onclick="HandleClick">

        <i class="@IconName"></i>
        <span class="@TextClass">@Text</span>

    </button>
}
